{% extends "base.html" %}
{% load static %}


{% block title %}About Us{% endblock title %}

{% block body %}
<section class="about-us-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'images/about.jpg' %}" alt="Elegant Boutique" class="img-fluid">


            </div>
            <div class="col-lg-6">
                <h2 class="mt-3">About ZAN CLOTHING</h2>
                <p>Welcome to ZAN CLOTHING , your ultimate destination for chic and fashionable dresses. We believe that every men deserves to feel confident and beautiful in her attire, which is why we curate a diverse collection of dresses that cater to every occasion and personal style.</p>
                <p>Founded in 2023, our boutique has quickly become a favorite among fashion enthusiasts who seek quality and elegance. We take pride in offering not just dresses, but a delightful shopping experience that celebrates individuality and sophistication.</p>
                <h4>Our Mission</h4>
                <p>At ZAN CLOTHING, our mission is to empower MEN through fashion. We strive to provide dresses that not only reflect the latest trends but also resonate with the unique personality of each customer.</p>
                <h4>Why Choose Us?</h4>
                <ul>
                    <li>Wide range of styles from casual to formal.</li>
                    <li>High-quality fabrics and craftsmanship.</li>
                    <li>Personalized customer service.</li>
                    <li>Fast and reliable shipping.</li>
                </ul>
                <p>Thank you for choosing Elegant Threads. We are excited to be a part of your style journey!</p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
